{{template "base" .}}

{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col">
      <img src="/static/images/marjors-suite.png" class="img-fluid mx-auto d-block room-image img-thumbnail" alt="room-image">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-5">Major's Suite</h1>
      <p class="mt-4">
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember. 
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember. 
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
        Your home away from from home, set ont he majestic waters of the Atlanic Ocean. This wiil be a vacation to remember.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="/search-availability" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>

{{end}}